<!doctype html>
<html class="no-js" lang="en">
<head>

  <meta charset=utf-8>
  <title>Node Authentication</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <style>
    body { padding-top: 5rem; }
  </style>

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item <% if (nav == 'home') { %>active<% } %>">
            <a class="nav-link" href="/">Home <% if (nav == 'home') { %><span class="sr-only">(current)</span><% } %></a>
          </li>
          <li class="nav-item <% if (nav == 'about') { %>active<% } %>">
            <a class="nav-link" href="/about">About <% if (nav == 'about') { %><span class="sr-only">(current)</span><% } %></a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          -->
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item <% if (nav == 'login') { %>active<% } %>">
            <a class="nav-link" href="/login">Login <% if (nav == 'login') { %><span class="sr-only">(current)</span><% } %></a>
          </li>
          <li class="nav-item <% if (nav == 'signup') { %>active<% } %>">
            <a class="nav-link" href="/signup">Signup <% if (nav == 'signup') { %><span class="sr-only">(current)</span><% } %></a>
          </li>
        </ul>
      </div>
    </nav>
